[Unit]
Description=XMPP to Telegram transport
Documentation=file:/path/xmpp-transport-telegram/README.md
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=forking
User=username
Group=usergroup
WorkingDirectory=/path/xmpp-transport-telegram

RuntimeDirectory=xmpp-transport-telegram
RuntimeDirectoryMode=0755
PIDFile=/run/xmpp-transport-telegram/xmpp_transport_telegram.pid

ExecStart=/usr/bin/python3 -m xmpp_transport_telegram --config /path/config.ini --daemon --pid-file /run/xmpp-transport-telegram/xmpp_transport_telegram.pid
ExecStop=/usr/bin/python3 -m xmpp_transport_telegram --config /path/config.ini --stop --pid-file /run/xmpp-transport-telegram/xmpp_transport_telegram.pid
ExecStartPost=/bin/sleep 2

Restart=on-failure
RestartSec=10
TimeoutStartSec=30
TimeoutStopSec=40

[Install]
WantedBy=multi-user.target
